@media (max-width: 1280px){
    
    .container{
        padding: 0 24px;
    }

  

    .about-top__text{
        font-size: 18px;
        margin-right: 40px;
    }

    .about-img {
        width: 212px;
        margin-top: -34px;
        margin-right: 60px;
        
    }

    .about-bottom__left {
        margin-right: 60px;
    }

    .about-bottom__img{
        width: 180px;
    }

    .img{
        vertical-align: middle;
    }
    .about-item{
        margin-right: 50px;
    }

    .about-item__title{
        font-size: 20px;
    }

    .about-item__text{
        font-size: 14px;
    }

   
    .section-title{
        font-size: 30px;
    }

    
    .about{
        margin-bottom: 94px;
    }

    .about__title{
        margin-bottom: 22px;
    }

    .about-top{
        margin-bottom: 40px;
    }

    .about-top__text{
        font-size: 18px;
        margin-bottom: 14px;
    }

    .about-img{
        width: 280px;
        margin-right: 60px;
        margin-bottom: -40px;
    }

    .about-top__left{
        max-width: 662px;
        margin-top: -10px;
  
    }

    .about-bottom__img{
        width:134px;
    }

    .about-bottom__left{
        margin-right: 76px;
    }
    @media (max-width: 1280px){
.container {
    padding: 0 70px;
    .section-title{
        font-size: 55px;
    }
   .about-item__text
{
    font-size: 14px;
}



}}
}
@media (max-width: 840px){
.about-img {
    width: 212px;
}
@media (max-width: 1280px){
    .about-img {
        width: 212px;
        margin-right: 10px;
        margin-bottom: 55px;
    }}
    @media (max-width: 1280px){}
    .about-img {
        width: 280px;
        margin-top: auto;}
    .about-item{
       
        margin-right: 47px;
    }
 
p.about-top__text{
    font-size: 18px;
}
    .about-item__text{
        font-size: 14px;
    }

}
@media (max-width: 840px){


    .section-title{
        font-size: 32px;
    }

   
    .about{
        margin-bottom: 94px;
    }

    .about__title{
        margin-bottom: 22px;
    }

    .about-top{
        margin-bottom: 40px;
    }

    .about-top__text{
        font-size: 14px;
        margin-bottom: 14px;
    }

    .about-img{
        width: 212px;
    }

    .about-top__left{
        max-width: 384px;
    }

    .about-bottom__img{
        width:134px;
    }

    .about-bottom__left{
        margin-right: 76px;
    }

    .about-item{
        width:94px;
        margin-right: 47px;
    }

    .about-item__title{
        font-size: 15px;
    }

    .about-item__text{
        font-size: 11px;
    }
}